html {
  background-color: mistyrose;
  font-family: Rockwell; 
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  border-width: 5px;
  width: 15%;
}

body { margin: 30px; padding: 15px; border: 1px solid gray;}
  
.music {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
font-size: 40px;
font: black;
}       

.box { margin: 20px; padding: 10px; border: 1px solid gray;}


a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button; 
  text-decoration: lightpink;
  font-size: xxlarge; 
  color: black;
  
    margin-left: 20px;
    height: 20px;
    width: 100px;
    background: lightgray;
    border: 1px solid black;
    list-style: none;
    text-align: center;
  }
  
  a.button:hover {
    background-color: rgb(160, 127, 127);
    transform: scale(1.25) perspective(1px);
    color: white;
  }


.silly {
 align-content: auto;
 font-size: 50px;
 text-align: center;
}

.music {
  align-content: auto;
 font-optical-sizing: auto;
}
.main {
  background-color:black;
  width: 960px;
  margin: 0 auto;
  overflow: auto;
}

.column-5-left {
  width: 126px;
  background-color: lightgrey;
  padding: 20px;
  border: 5px solid black;
  float: left;
  margin-right: 10px;
}

.column-5-middle {
  width: 126px;
  background-color: lightgrey;
  padding: 20px;
  border: 5px solid black;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.column-5-right {
  width: 126px;
  background-color: lightgrey;
  padding: 20px;
  border: 5px solid black;
  float: right;
  margin-left: 10px;
 }

 .main1 {
  background-color:black;
  width: 960px;
  height: 500px;
  margin: 0 auto;
  overflow: auto;
}

.main2 {
  width: 360px;
  border: 2px solid black;
  text-align: center;
  margin: 1px 1px 1px 1px;
  
}
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}       


 .column-3-left {
  width: 210px;
  height: 400px;
  background-color: lightgrey;
  padding: 5px;
  border: 20px solid black;
  float: left;
  margin-right: 10px;
}

.column-3-middle {
  width: 365px;
  height: 468px;
  background-color: lightgrey;
  padding: 1px;
  border: 10px solid black;
  float: left;
  margin-left: 1px;
  margin-right: 1px;
  }

  

.column-3-right {
  width: 210px;
  height: 400px;
  background-color: lightgrey;
  padding: 5px;
  border: 20px solid black;
  float: right;
  margin-left: 10px;
  
 }
.text {
  text-align: center;
  font-size: 15px;
}
.column-3-middle-silly {
  width: 450px;
  height: 410px;
  background-color: lightgrey;
  padding: 5px;
  border: 10px solid black;
  float: middle;
  margin-left: 250px;
  margin-right: 250px;
  }

  .column-3-left-silly  {
    width: 210px;
    height: 410px;
    background-color: lightgrey;
    padding: 5px;
    border: 10px solid black;
    float: left;
    margin-right: 10px;
  }
/*  
.buttons {
  display:column
}
*/
.h2 {
  font-family: lobster;
}

.button-silly {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: lightpink;
  font-size: 30px; 
  color: black;
  
    margin-left: 50px;
    height:55px;
    width:350px;
    background: lightgray;
    border: 10px solid black;
    list-style: none;
    text-align: center;
  }
  .main3 {
    background-color:black;
    width: 760px;
    height: 500px;
    margin: 0 auto;
    overflow: auto;
  }

  .p3{ 
    font-size:5rem;
    width:100%;
    text-align:left;
    vertical-align: center;
  }