



/* soundtrack */
html {
  background-color: black;
  font-family: Tahoma; 
  max-width: 1200;
  align-items: center;
  max-height:800px;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  width: 55%;
}
.title1{
  display:inlineflex;
  float: center;
  color:  rgb(248, 235, 223);
}
.container{
  /* background-color: rgb(94, 98, 102); */
  background-color: rgb(248, 235, 223);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-height: 575px;
  border: 3px navy solid;
}
.t4{
  display: inline-block;
  text-align: center;
  font-weight: bold;
}
a{
  padding:10px;
  margin-top: 20px;
}
/* soundtrack */
body { 
  margin: 20px; 
  padding: 20px; 
  border: 2px solid black;
  background-color: gainsboro;
  display: inline-block; 
}
.bottom-box {
  margin-top: -15px;
  margin-left: 300px;
  padding-right:20px;
  border: 1px solid black;
  float:right;
} 
/* soundtrack */
.music {
display: block;
margin-top: 1px;
margin-left: auto;
margin-right: auto;
width: 50%;
font-size: 20px;
font: black;
text-align: center;
}       

.box { 
  margin: 20px; 
  padding: 10px; 
  border: 1px solid gray;
}

 
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button; 
  font-size: xxlarge; 
  color: black;
  
    margin-left: 0px; 
    height: 7px;
    width: 30px;
    background: turquoise;
    list-style: none;
    text-align: center;
    font-size: medium
    
  }
  
  a.button:hover {
    background-color: rgb(209, 209, 189);
    transform: scale(1.0) perspective(1px);
    color: white;
  }


.silly {
 align-content: auto;
 font-size: 25px;
 text-align: center;
}


.music {
  align-content: auto;
 font-optical-sizing: auto;
}

/* the row-5 are for the soundtrack */
.row-5-left {
  height: 55px;
  background-color: lightgrey;
  padding: 5px;
  border: 5px solid black;
  float: top;
  margin-top: 5px;
  vertical-align: auto;
}

.row-5-middle {
  height: 55px;
  background-color: lightgrey;
  padding: 5px;
  border: 5px solid black;
  float: top;
  margin-top: 5px;
  margin-bottom: 5px;
}

.row-5-right {
  height: 55px;
  background-color: lightgrey;
  padding: 5px;
  border: 5px solid black;
  float: bottom;
  margin-bottom: 5px;

 }

 .column-2-left {
  width: 420px;
  background-color:  rgb(248, 235, 223);
  padding: 10px;
  border: 6px ridge black;
  float: left;
  margin-left: 15px;
  min-height:680px;
  text-align: center;
  color: black;
  margin-bottom: 10px;

}
.column-2-right {
  width: 420px;
  background-color:  rgb(248, 235, 223);
  padding: 20px;
  border: 6px ridge black;
  float: right;
  margin-right: 15px;
  min-height:680px; 
  text-align: center;
  color: black;
  margin-bottom:10px;
}
  /*soundtrack  */
.column-1 {
  width: 950 px;
  height: 120px;
  background-color: gainsboro;
  padding: 1px;
  border: 1px solid black;
  float: left;
  margin-left: 1px;
  margin-right: 1px;
  }
 
.column-2-middle {
  width: 900px;
  height: 450px;
  background-color: gainsboro;
  padding: 7px;
  border: 10px solid black;
  float: left;
  margin-left: 1px;
  margin-right: 1px;
  }

.column-5-left {
  width: 126px;
  background-color: lightgrey;
  padding: 5px;
  border: 5px solid black;
  float: left;
  margin-right: 5px;
}

.column-5-middle {
  width: 126px;
  background-color: lightgrey;
  padding: 5px;
  border: 5px solid black;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

.column-5-right {
  width: 126px;
  background-color: lightgrey;
  padding: 5px;
  border: 5px solid black;
  float: right;
  margin-left: 5px;
 }
 /* soundtrack */
 .main {
  background-color:black;
  width: 960px;
  height: 500;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
}

 .main1 {
  background-color:black;
  font: yellow;
  width: 960px;
  height: 500px;
  margin: 0 auto;
  overflow: auto;
}

.main2 {
  width: 360px;
  border: 2px solid rgb(167, 13, 13);
  text-align: center;
  margin: 1px 1px 1px 1px;
  
}

.main3 {
  background-color:black;
  width: 760px;
  height: 500px;
  margin: 0 auto;
  overflow: auto;
}

.main4 {
  width: 203px;
  height: 393px;
  text-align: center;
  margin: 1px 1px 1px 1px;
}

.main5 {
  width: 203px;
  height: 67px;
  border: 2px solid rgb(167, 13, 13);
  margin: 1px 1px 1px 1px;

}

.main6 { 
  width: 203px;
  height: 160px;
  border: 2px solid turquoise;
  background-color:black;
  margin: 1px 1px 1px 1px;
  float: top;
  inline-size: auto;
  
}
.img {
  width: 180px;
  height: 140px;
  border: 2px solid turquoise;
  margin: 1px 1px 1px 1px;
  float: center;
  
}
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}       


 .column-3-left {
  width: 210px;
  height: 420px;
  background-color: black;
  padding: 5px;
  border: 20px solid black;
  float: left;
  margin-right: 10px;
}

.column-3-middle {
  width: 365px;
  height: 450px;
  background-color: turquoise;
  padding: 7px;
  border: 10px solid black;
  float: left;
  margin-left: 1px;
  margin-right: 1px;
  }

  

.column-3-right {
  width: 210px;
  height: 420px;
  background-color: black;
  padding: 5px;
  border: 20px solid black;
  float: right;
  margin-left: 10px;
  color: yellow;
  
 }
.text {
  color:rgb(167, 13, 13);
  text-align: center;
  font-size: 40px;
  }

.text1 {
  color: yellow;
  text-align: center;
  font-size: 25px;
  }

  .text2 {
    color: yellow;
    align-content: left;
    font-size: 25px;
    }
.column-3-right-silly {
  width: 210px;
  height: 410px;
  background-color: rgb(247, 247, 118);
  padding: 5px;
  border: 10px solid black;
  float: right;
  margin-left: 10px;
  
 }
.column-3-middle-silly {
  width: 450px;
  height: 410px;
  background-color: lightgrey;
  padding: 5px;
  border: 10px solid black;
  float: middle;
  margin-left: 250px;
  margin-right: 250px;
  }

  .column-3-left-silly  {
    width: 210px;
    height: 410px;
    background-color: lightgrey;
    padding: 5px;
    border: 10px solid black;
    float: left;
    margin-right: 10px;
  }
 /* soundtrack */
  #p1 {
    direction: row;
    float: center;

   }
.buttons {
  display:column
}

.h2 {
  font-family: lobster;
}

.button-silly {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  font-size: 30px; 
  color: black;
  
    
    height:55px;
    width:350px;
    background: turquoise;
    border: 10px solid black;
    list-style: none;
    text-align: center;
  }
  

  .p3{ 
    font-size:5rem;
    width:100%;
    text-align:left;
    vertical-align: center;
  }

  .button-silly2 {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    height:38 px;
    width:177px;
    background-color: rgb(248, 235, 223);
    font-size: 20px; 
    color: black;
    margin-left: 13px;
    margin-bottom: 21px; 
    margin-top: 21px;
    margin-right: 16px; 
    align-content: center;
}
  

  .center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* soundtrack */
.container2 {
  height: 450px;
  width: 1000px;
  position: relative; 
  background-color: black;
  border: 2px solid rgb(167, 13, 13);
  float: bottom;
}
.p6{
  font-size: 1px;
  font-family: Tahoma;
  display: inline-block;
  }
.c2div{
  text-align: auto;
  align-items: center;
}
/* sountrack */
.text3 {
  text-align: left;

}
html {
  background-color: black;
  font-family: Tahoma; 
  max-width: 1200;
  align-items: center;
  max-height:800px;
}

body { 
  margin: 20px; 
  padding: 20px; 
  border: 2px solid black;
  background-color: rgb(132, 231, 210);
  display: inline-block; 
}
/*  
.container2 {
  height: 450px;
  width: 1000px;
  position: relative; 
  background-color: black;
  border: 2px solid rgb(167, 13, 13);
  float: bottom;
  margin-top: -10px;
  
}*/
.main {
  background-color:black;
  width: 960px;
  height: 500;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
  
}

.music {
  display: block;
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 20px;
  font: black;
  text-align: center;
  } 
  
.column-1 {
  width: 950 px;
  height: 120px;
  background-color: gainsboro;
  padding: 1px;
  border: 1px solid black;
  float: left;
  margin-left: 1px;
  margin-right: 1px;
  color: black;
  }


.row-5-left {
  height: 30px;
  background-color: lightgrey;
  padding: 5px;
  border: 5px solid black;
  float: top;
  margin-top: 5px;
  vertical-align: auto;
  display: flex;
}

.row-5-middle {
  height: 30px;
  background-color: lightgrey;
  padding: 5px;
  border: 5px solid black;
  float: top;
  margin-top: 5px;
  margin-bottom: 5px;
}

.row-5-right {
  height: 30px;
  background-color: lightgrey;
  padding: 5px;
  border: 5px solid black;
  float: bottom;
  margin-bottom: 5px;

 }

 #text3 {
  text-align: left;
 }

 #p4{
  font-size: 55px;
  padding: 15px;
}

.container2{
  background-color: gray;
  width: 800px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.container2 > div{
  background-color:gainsboro;
  color: aliceblue;
  text-align: center;
  padding: 10px;
  margin: 1px;
  border: 3px navy solid;
}
  .button {
      appearance: button; 
      font-size: xxlarge; 
      color: black;
      
        margin-left: 0px; 
        height: 7px;
        width: 30px;
        background: turquoise;
        list-style: none;
        text-align: center;
        font-size: medium;
        
      }
      
      .a.button:hover {
        background-color: rgb(209, 209, 189);
        transform: scale(1.0) perspective(1px);
        color: white;
      }

      #p1 {
          direction: row;
          float: center;
      
         }
    

